<header>
    <nav>
        <ul>
            <li><a href="/home">Главная</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="/generateimage">Генерация изображения</a></li>
            <li><a href="/phpinfo">Информация о GD</a></li>
        </ul>
    </nav>
</header>